[user]
	name = Nathan Hernandez
	email = email@nathanph.com
[push]
	default = simple
[alias]
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lol  = log --graph --decorate --pretty=oneline --abbrev-commit
[core]
	editor = vim
